.bg-body-blue {
    background-color: #bad0eef1;
}

button.bg-custom,
button.bg-custom:hover {
  background-color: rgb(110, 142, 187);
  border-color: #BAD0EE;
}

button.bg-custom:hover {
  background-color: #BAD0EE;
  border-color: rgb(110, 142, 187);
}